{% extends 'grxtemplate/view/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('template/css/bootstrap-multiselect.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('template/css/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}{% trans %}Reports{% endtrans %}{% endblock %}
{% block content_title %} {% trans %}Reports{% endtrans %} {% endblock %}
{% block content_subtitle %} {% trans %}Summary{% endtrans %} {% endblock %}
{% block breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> {% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">{% trans %}Reports{% endtrans %}</li>
    <li class="active">{% trans %}Summary{% endtrans %}</li>
{% endblock %}
 
{% block content %}

    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                             {% include 'grxtimetracker/report/Summary/filters.html.twig' %}
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <div class="table-responsive">
                                <!-- THE MESSAGES -->
                                {% if data is defined %}
                                    <div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                                {% endif %}
                            </div><!-- /.table-responsive -->
                        </div><!-- /.col (RIGHT) -->
                    </div><!-- /.row -->
                    <div class="row">
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <!-- Filters -->
                           {% include 'grxtimetracker/report/Summary/list.html.twig' %}
                        </div><!-- /.col (LEFT) -->
                        <div class="col-md-4 col-sm-4">
                            <div class="table-responsive">
                                <!-- THE MESSAGES -->
                                <div id="container_pie" style="min-width: 400px; height: 500px; margin: 0 auto"></div>
                                <div id="imgContainer"></div>
                            </div><!-- /.table-responsive -->
                        </div><!-- /.col (RIGHT) -->
                    </div>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col (MAIN) -->
    </div>
    <!-- MAILBOX END -->

    </section><!-- /.content -->
    </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('timetracker/js/report/highcharts.js') }}"></script>
    <script src="{{ asset('timetracker/js/report/exporting.js') }}"></script>
    <script src="{{ asset('template/js/date.js') }}"></script>
    <script src="{{ asset('timetracker/js/report/detailed/chart.js') }}"></script>
    <script src="{{ asset('timetracker/js/report/summary/filters.js') }}"></script>
    <script>
        $('#date_range').daterangepicker({
            format: 'DD-MM-YYYY',
            startDate: "{{ start|date('d-m-Y') }}",
            endDate: "{{ end|date('d-m-Y') }}"
        });

        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

        {% if data is defined %}

        {% if week_mode is defined and data is defined %}
            var msg = Translator.trans('Weekly Chart (week of year/year)');
        {% elseif data is defined %}
            var msg = Translator.trans('Daily Chart (day/month)');
        {% endif %}

            var timeMsg = Translator.trans('Time');
            var totalTimeMsg = Translator.trans('Time Worked');

        $(function () {
            
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: msg
                },
                 colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4',],
                shadow: {
                    color: '#000000',
                    width: 10,
                    offsetX: 0,
                    offsetY: 0
                },
//                subtitle: {
//                    text: 'Source: greicodex.com'
//                },
                xAxis: {
                    categories: [{% for entity in data %}"{{ entity.date_time }}" {% if not loop.last %},{% endif %}{% endfor %}]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: timeMsg
                    }
                },
                tooltip: {
                    formatter: function() {
                        return Highcharts.numberFormat(this.y, 2);
                    },
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: totalTimeMsg,
                    data: [{% for entity in data %} {{ entity.total_time }} {% if not loop.last %},{% endif %}{% endfor %}]

                }]
            });

            var totalTimeMsg2 = Translator.trans('Total Time');

 
            $('#container_pie').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false
                },
                title: {
                    text: totalTimeMsg2+'=  {{ totalTime }}'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '{point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [{% for list in dataList %}
                            ['{{ list.projectName }}', {{ list.number_time }}]{% if not loop.last %},{% endif %}
                            {% endfor %}]
                }]
            });
        });

        $('#export').click(function () {
            var obj = {},
                    chart;

            chart = $('#container').highcharts();
            obj.svg = chart.getSVG();
            obj.type = 'image/png';
            obj.width = 600;
            obj.async = true;

            $.ajax({
                type: 'post',
                url: chart.options.exporting.url,
                data: obj,
                success: function (data) {
                    var exportUrl = this.url;
                    $("#img_bar").val(exportUrl+data);
                    //$("#formExport").submit();
                }
            });

            var obj = {},
                    chart;

            chart = $('#container_pie').highcharts();
            obj.svg = chart.getSVG();
            obj.type = 'image/png';
            obj.width = 600;
            obj.async = true;

            $.ajax({
                type: 'post',
                url: chart.options.exporting.url,
                data: obj,
                success: function (data) {
                    var exportUrl = this.url;
                    $("#img_pie").val(exportUrl+data);
                    $("#date_print").val($("#date_range").val());
                    $("#projects_print").val($("#projects").val());
                    $("#customers_print").val($("#customers").val());
                    $("#formExport").submit();
                }
            });


        });

        {% endif %}

        $(document).ready(function() {
            $("#filtersSummaryForm").show();
            loadProjectsAndCustomer({{ project }},{{ customer  }});
        });

    </script>
{% endblock %}