{% if dataList is defined %}


    <h3 class="box-title">{% trans %}Entry list{% endtrans %}</h3>
    <table class="records_list table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th class="text-left col-md-8">{% trans %}Project{% endtrans %}</th>
            <th class="text-center col-md-4">{% trans %}Time{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% set previousProject = '' %}
        {% for entity in dataList %}
            <tr>
                <td class="text-left">
                    {% if previousProject != entity.projectName %}
                        {{ entity.projectName }}
                    {% endif %}
                </td>
                <td class="text-right">{{ entity.total_time }}</td>
            </tr>
            {% set previousProject = entity.projectName %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="pad margin no-print">
        <div class="alert alert-info" style="margin-bottom: 0!important;">
            <i class="fa fa-info"></i>
            <b>{% trans %}Note{% endtrans %}:</b> {% trans %}No results, select another date range{% endtrans %}.
        </div>
    </div>
{% endif %}