{% extends 'grxtemplate/view/layout.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block content_title %} {% trans %}Profile{% endtrans %} {% endblock %}
{% block content_subtitle %} {% trans %}Info{% endtrans %} {% endblock %}
{% block breadcrumb %}
    <li class="active"><i class="fa fa-dashboard"></i> {% trans %}Profile{% endtrans %}</li>
    <li class="active">{% trans %}Info{% endtrans %}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                 <ul class="nav nav-tabs">
                    <li {% if tab == 'profile' %}class="active"{% endif %}><a data-toggle="tab" href="#tab_1">{% trans %}Personal{% endtrans %}</a></li>
                    <li {% if tab == 'password' %}class="active"{% endif %}><a data-toggle="tab" href="#tab_2">{% trans %}Security{% endtrans %}</a></li>
                </ul>
                <div class="tab-content">
                 
                    <div id="tab_1" class="tab-pane {% if tab == 'profile' %}active{% endif %}">       
                     {{ form_start(form,{ 'attr': {"id": "profile_form"} }) }}        
                        <!-- title row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="page-header">
                                    <i class="fa fa-user"></i>&nbsp;{% trans %}Personal Info{% endtrans %}
                                </h2>
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="row">
                            <div class="col-sm-4 invoice-col">
                                <div class="box-body">
                                     <div class="form-group">
                                        {{ form_row(form.firstname, {'attr': {'class': 'form-control'} }) }}
                                    </div>
                                     <div class="form-group">
                                        {{ form_row(form.lastname, {'attr': {'class': 'form-control'} }) }}
                                    </div>
                                     <div class="form-group">
                                        {{ form_row(form.phone_number, {'attr': {'class': 'form-control'} }) }}
                                    </div>
                                     <div class="form-group">
                                        {{ form_row(form.email, {'attr': {'class': 'form-control'} }) }}
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                        <div class="row no-print">
                            <div class="col-xs-12">
                                   <button type="submit" class="btn btn-success"><i
                                                class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{% trans %}
                                        Save{% endtrans %} </button>
                            </div>
                        </div>
                      {{ form_end(form) }}
                    </div>
                    <!-- /.tab-pane --> 
                    <div id="tab_2" class="tab-pane {% if tab == 'password' %}active{% endif %}">   
                         {{ form_start(formpas,{ 'attr': {"id": "form-change-password"} }) }}  
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 class="page-header">
                                        <i class="fa fa-lock"></i>&nbsp;{% trans %}Security{% endtrans %}
                                    </h2>
                                </div>
                            </div>
                            <!-- info row -->
                            <div class="row">
                                <div class="col-sm-4 invoice-col">
                                    <div class="box-body">
                                        <div class="form-group">
                                            {{ form_widget(formpas.password.first, {'type': 'password','attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(formpas.password.second, {'type': 'password','attr': {'class': 'form-control'} }) }}
                                        </div>  
                                    </div>
                                </div>
                            </div>
                            <div class="row no-print">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-success"><i
                                                class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{% trans %}
                                        Save{% endtrans %} </button>
                                </div>
                            </div>
                        {{ form_end(formpas) }}
                    </div>           
                 
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('security/js/profile/validate.js') }}"></script>
    {% if error is defined %}
        <script>
            var msg = Translator.trans('Invalid data supplied');
            sendNotify('Error',msg,'error');
        </script>
    {% endif %}
    {% if success is defined %}
        <script>
        {% if success == 'profile' %}
            var msg = Translator.trans('The user data has been updated successfully');
        {% else %}
            var msg = Translator.trans('The password has been updated successfully');
        {% endif %}
        sendNotify('Info',msg,'success');
        </script>
    {% endif %}


{% endblock %}