<!-- filters -->
<form method="get" action="{{ path('detailed') }}">
    <div style="margin-top: 15px;">
        <ul class="nav nav-pills nav-stacked">
            <li class="header">{% trans %}FILTERS{% endtrans %}</li>
            <li>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="date_range" name="date"
                           value="{{ start|date('d-m-Y') }} - {{ end|date('d-m-Y') }}"/>
                </div>
            </li>
            <li>
                <div id="projects_div">
                    <img src="{{ asset('template/img/ajax-loader.gif') }}">
                </div>
            </li>
            <li>
                <div id="customers_div">
                    <img src="{{ asset('template/img/ajax-loader.gif') }}">
                </div>
            </li>

        </ul>
    </div>
    <br>
    <!-- actions btn -->
    <button id="btnFilters" class="btn btn-block btn-success"><i class="fa fa-search"></i>&nbsp;{% trans %}Search{% endtrans %}</button>
    <a class="btn btn-block btn-default" id="export" {% if data is not defined %} disabled="disabled" {% endif %}>
        <i class="fa fa-download"></i>&nbsp;{% trans %}Export{% endtrans %}
    </a>
</form>

<form method="post" action="{{ path('print') }}" id="formExport" >
    <input type="hidden" id="img_bar" name="img_bar" value="">
    <input type="hidden" id="img_pie" name="img_pie" value="">
    <input type="hidden" id="date_print" name="date" value="">
    <input type="hidden" id="projects_print" name="project" value="">
    <input type="hidden" id="customers_print" name="customer" value="">
    <input type="hidden" name="type" value="2">
</form>