{% if dataList is defined %}
    <h3 class="box-title">{% trans %}Entry list{% endtrans %}</h3>
    <table class="records_list table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th class="text-left" width="20%">{% trans %}Project{% endtrans %}</th>
            <th class="text-left" width="30%">{% trans %}Activity{% endtrans %}</th>
            <th class="text-center" width="20%">{% trans %}Start{% endtrans %}</th>
            <th class="text-center" width="20%">{% trans %}Stop{% endtrans %}</th>
            <th class="text-center" width="10%">{% trans %}Time{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% set previousProject = '' %}
        {% for entity in dataList %} 
            <tr>
                <td class="text-left">
                    {% if previousProject != entity.projectName %}
                        {{ entity.projectName|trans }}
                    {% endif %}
                </td>
                <td class="text-left">{{ entity.description }}</td>
                <td class="text-center">{% if entity.start %}{{ entity.start|date('d-m-Y h:i:s A') }}{% endif %}</td>
                <td class="text-center">{% if entity.stop %}{{ entity.stop|date('h:i:s A')}}{% endif %}</td>
                <td class="text-right">{{ entity.total_time }}</td>
            </tr>
            {% set previousProject = entity.projectName %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="pad margin no-print">
        <div class="alert alert-info" style="margin-bottom: 0!important;">
            <i class="fa fa-info"></i>
            <b>{% trans %}Note{% endtrans %}:</b> {% trans %}No results, select another date range{% endtrans %}.
        </div>
    </div>
{% endif %}