<!-- filters -->
<form method="get" action="{{ path('customer_rep') }}">
    <div style="margin-top: 15px;">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <div id="customers_div">
                    <img src="{{ asset('template/img/ajax-loader.gif') }}">
                </div>
            </li>
            <li> 
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div> 
                    <input type="text" class="form-control pull-right" id="date_range" name="date"
                           value="{{ start|date('d-m-Y') }} - {{ end|date('d-m-Y') }}"/>
                </div>
            </li>
        </ul>
    </div>
    <br>
    <!-- actions btn -->
    <button id="btnFilters" class="btn btn-block btn-success"><i class="fa fa-search"></i>&nbsp;{% trans %}Search{% endtrans %}</button>
</form>

 