{% if dataList is defined %}


    <h3 class="box-title">{% trans %}Projects/Time Entries{% endtrans %}</h3>
    <table class="records_list table table-striped table-condensed  ">
        <thead>
        <tr>
                      <th class="text-left col-md-1">#</th>
                      <th class="text-left col-md-2">{% trans %}Resource{% endtrans %}</th>
                      <th class="text-left col-md-1">Project</th>
                      <th class="text-left col-md-5">Description</th>
                      <th class="text-left col-md-1">Start Time</th>
                      <th class="text-left col-md-1">End Time</th>
                      <th class="text-left col-md-1">Duration</th>
        </tr>
        </thead>
        <tbody>
        {% set previousProject = '' %}
        {% for entity in dataList %}
            <tr>

                    <td class="text-left">{{entity.id}}</td>
                    <td>{{entity.resource}}</td>
                    <td>{{entity.project}}</td>
                    <td>{{entity.description}}</td>
                    <td>{{entity.start}}</td>
                    <td>{{entity.stop}}</td>
                    <td>{{entity.Duration}}</td>

            </tr>
           
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="pad margin no-print">
        <div class="alert alert-info" style="margin-bottom: 0!important;">
            <i class="fa fa-info"></i>
            <b>{% trans %}Note{% endtrans %}:</b> {% trans %}No results, select another date range{% endtrans %}.
        </div>
    </div>
{% endif %}