{% extends 'grxtemplate/view/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('template/css/pnotify.custom.min.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}{% trans %}Project{% endtrans %}{% endblock %}
{% block content_title %} {% trans %}Project{% endtrans %} {% endblock %}
{% block content_subtitle %} {% trans %}List{% endtrans %} {% endblock %}
{% block breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> {% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">{% trans %}Project{% endtrans %}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <button type="button" id="newProject" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans %}Add New Project{% endtrans %}</button>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div id="listd" data-urldireccion="{{ path('project_list') }}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Time Entry Modal Dialog -->
    {% include 'grxtimetracker/project/modal.html.twig' %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% trans %}Delete Project{% endtrans %}
                </div>
                <div class="modal-body">
                    {% trans %}Are sure delete the project?{% endtrans %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <a href="#" id="" onclick="deleteProject(this.id)" class="btn btn-danger danger">{% trans %}Delete{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('template/js/blockUI.js') }}"></script>
    <script src="{{ asset('timetracker/js/project/list.js') }}"></script>
    <script src="{{ asset('timetracker/js/project/new.js') }}"></script>
    <script src="{{ asset('timetracker/js/project/update.js') }}"></script>
    <script src="{{ asset('timetracker/js/project/delete.js') }}"></script>
    <script>
        $(document).ready(function() {
            loadProjectList();
            $('#newProject').click(newProject);

            $('#confirm-delete').on('show.bs.modal', function(e) {
                $(this).find('.danger').attr('id', $(e.relatedTarget).data('href'));
            });
        });
    </script>
{% endblock %}
