<div  class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
                <h4 class="modal-title" id="projectModal"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; {% trans %} New Project{% endtrans %}</h4>
            </div>
            <form class="form-horizontal" role="form" id="projectForm" name="projectForm" action="{{ path('project_save') }}" method="POST">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" value=""/>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">{% trans %}Name{% endtrans %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Greicodex project">
                        </div>
                    </div>
                    <div class="form-group" id="customer_content">
                        <label for="customers" class="col-lg-2 control-label">{% trans %}Customer{% endtrans %}</label>
                        <div class="col-sm-10" id="customers_div" style="display: none">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>{% trans %} Cancel{% endtrans %}</button>
                    <button type="submit" class="btn btn-success" id="saveProject"><i class="glyphicon glyphicon-floppy-disk"></i>{% trans %} Save{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
</div>


