{% extends 'base.html.twig' %}
{% block html_class %}
 class="lockscreen"
{% endblock %}
{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block body %}
 <body class="">
    <div class="form-box" id="login-box">
        <div class="header">{% trans %}Sign In{% endtrans %}</div>
            <form method="post">
                <div class="body bg-gray">

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" placeholder="Email Address" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="_remember_me"/> {% trans %}Remember me{% endtrans %}
                    </div>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </div>
                <div class="footer">
                    <button type="submit" class="btn bg-olive btn-block">{% trans %}Sign me in{% endtrans %}</button>

                    <p><a  href="#">{% trans %}I forgot my password{% endtrans %}</a></p>
 
                    <a href="{{ url('app_register') }}" class="text-center">{% trans %}Register a new membership{% endtrans %}</a>
                </div>
            </form>
        </div>
    </div>
 </body>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $("#greicodex_grxsecuritybundle_login__username").attr('name', '_username');
            $("#greicodex_grxsecuritybundle_login__password").attr('name', '_password');
        });
    </script>

{% endblock %}