{% extends 'grxtemplate/view/layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <link href="{{ asset('template/css/pnotify.custom.min.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}{% trans %}Customer{% endtrans %}{% endblock %}
{% block content_title %} {% trans %}Customer{% endtrans %} {% endblock %}
{% block content_subtitle %} {% trans %}List{% endtrans %} {% endblock %}
{% block breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> {% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">{% trans %}Customer{% endtrans %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <button type="button" id="newCustomer" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans %}Add New Customer{% endtrans %}</button>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div id="list" data-url="{{ path('customer_list') }}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Time Entry Modal Dialog -->
    {% include 'grxtimetracker/customer/modal.html.twig' %}
 
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% trans %}Delete Customer{% endtrans %}
                </div>
                <div class="modal-body">
                    {% trans %}Are sure delete the customer?{% endtrans %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <a href="#" id="" onclick="deleteCustomer(this.id)" class="btn btn-danger danger">{% trans %}Delete{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('template/js/blockUI.js') }}"></script>
    <script src="{{ asset('template/js/bootstrap-multiselect.js') }}"></script>
    <script src="{{ asset('timetracker/js/customer/list.js') }}"></script>
    <script src="{{ asset('timetracker/js/customer/new.js') }}"></script>
    <script src="{{ asset('timetracker/js/customer/update.js') }}"></script>
    <script src="{{ asset('timetracker/js/customer/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            loadCustomerList();
            $('#newCustomer').click(newCustomer);
            $('#confirm-delete').on('show.bs.modal', function(e) {
                $(this).find('.danger').attr('id', $(e.relatedTarget).data('href'));
            });
        });
    </script>

{% endblock %}