{% if entities|length > 0 %}
    <table class="records_list table table-striped table-condensed table-hover">
        <thead>
        <tr>
        <tr>
            <th>ID</th>
            <th class="text-left">{% trans %}Name{% endtrans %}</th>
            <th class="text-left">{% trans %}Email Address{% endtrans %}</th>
            <th class="text-center">{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="text-left">{{ entity.id }}</td>
                <td class="text-left">{{ entity.name }}</td>
                <td class="text-left">{{ entity.email }}</td>
                <td class="text-center">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-primary btn-sm edit_action"
                                onclick="editCustomer({{ entity.id }},'{{ entity.name }}','{{ entity.email }}')"
                                data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Edit this customer...">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <a class="btn btn-danger btn-sm delete_action" data-href="{{ path('customer_delete',{'id': entity.id}) }}" data-toggle="modal" data-target="#confirm-delete">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="pad margin no-print">
        <div class="alert alert-info" style="margin-bottom: 0!important;">
            <i class="fa fa-info"></i>
            <b>{% trans %}Note:{% endtrans %}</b> {% trans %}No results, click the new customer button at the top to add new one{% endtrans %}.
        </div>
    </div>
{% endif %}