<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
                <h4 class="modal-title" id="timeEntryModalLabel"><i class="glyphicon glyphicon-user"></i> {% trans %} New Customer{% endtrans %}</h4>
            </div>
           <form class="form-horizontal" role="form" id="customerForm" name="customerForm" action="{{ path('customer_save') }}" method="POST">
            <div class="modal-body">
                    <input type="hidden" id="id" name="id" value=""/>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">{% trans %}Name{% endtrans %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Jhon alvarez">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">{% trans %}Email{% endtrans %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" placeholder="jhon@doe.net">
                        </div>
                    </div>
                    <div class="form-group" id="project_content">
                        <label for="projects" class="col-lg-2 control-label">{% trans %}Project{% endtrans %}</label>
                        <div class="col-sm-10" id="projects_div" style="display: none">

                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> {% trans %} Cancel{% endtrans %}</button>
                <button type="submit" class="btn btn-success" id="saveCustomer"><i class="glyphicon glyphicon-floppy-disk"></i> {% trans %} Save{% endtrans %}</button>
            </div>
            </form>
        </div>
    </div>
</div>

 <div  class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
                <h4 class="modal-title" id="projectModal"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;{% trans %}New Project{% endtrans %}</h4>
            </div>
            <form class="form-horizontal" role="form" id="newProjectForm" name="newProjectForm" action="{{ path('project_save') }}" method="POST">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" value=""/>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">{% trans %}Name{% endtrans %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name_project" name="name" placeholder="Greicodex project">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>{% trans %} Cancel{% endtrans %}</button>
                    <button type="submit" class="btn btn-success" id="saveProject"><i class="glyphicon glyphicon-floppy-disk"></i>{% trans %} Save{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
</div>