{% extends 'grxtemplate/view/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('template/eje.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/css/bootstrap-datetimepicker.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/css/bootstrap-tagsinput.css') }}"/>

{% endblock %}
{% block title %}{% trans %}Time Tracker{% endtrans %}{% endblock %}
{% block content_title %} {% trans %}Time Tracker{% endtrans %} {% endblock %}
{% block content_subtitle %} {% trans %}Activities{% endtrans %} {% endblock %}
{% block breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> {% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">{% trans %}Time Tracker{% endtrans %}</li>
{% endblock %}

{% block content %}

    <!-- Time Entry -->
        {% include 'grxtimetracker/timeEntry/timeEntry.html.twig' %}
    <hr>
    <div class="row">
        <div class="col-xs-12"> 
            <button type="button" id="newTimeEntry" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans %} Add New Entry{% endtrans %}</button>
            <button class="btn btn-danger" id="deleteSelectedTimeEntries"
                    data-url="{{ path('timeentry_delete_batch', { 'ids': '@ids' }) }}" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="Delete selected time entries"><i
                        class="fa fa-trash-o"></i> {% trans %} Delete{% endtrans %}</button>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div id="list" data-url="{{ path('timeentry_list') }}"></div>
                </div>
                <div class="text-center" id="loadMoreDiv" style="display: none;">
                    <a class="btn btn-default" onclick="loadLastWeek()" title="Load next week">
                        <i class="fa fa-plus-circle fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Time Entry Modal Dialog -->
    {% include 'grxtimetracker/timeEntry/modal.html.twig' %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% trans %}Delete Time Entry{% endtrans %}
                </div>
                <div class="modal-body">
                    {% trans %}Are sure delete the time entry?{% endtrans %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <a href="#" id="" onclick="deleteTimeEntry(this.id)" class="btn btn-danger danger">{% trans %}Delete{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %} 
{% block javascripts %} 
    {{ parent() }}
    <script src="{{ asset('template/js/blockUI.js') }}"></script>
    <script src="{{ asset('template/js/moment-with-locales.js') }}"></script>
    <script src="{{ asset('template/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('template/js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('timetracker/js/timeEntry/list.js') }}"></script>
    <script src="{{ asset('timetracker/js/timeEntry/timeEntry.js') }}"></script>
    <script src="{{ asset('timetracker/js/timeEntry/new.js') }}"></script>
    <script src="{{ asset('timetracker/js/timeEntry/update.js') }}"></script>
    <script src="{{ asset('timetracker/js/timeEntry/delete.js') }}"></script>
 
    <script> 
     $(document).ready(function () {
            $("#loadMoreDiv").css('display','block');
            $("#tags").tagsinput('removeAll');
            $("#customer_tags").tagsinput('removeAll');
            $("#newTimeEntryForm").show(); 
            loadRunningEntry(); 
            loadTimeEntryList();
            $('#startTimeEntry').click(startTimeEntry);
            $('#stopTimeEntry').click(stopTimeEntry);
            $('#discardTimeEntry').click(discardTimeEntry);
            $('#newTimeEntry').click(newTimeEntry);
            $('#deleteSelectedTimeEntries').click(deleteSelectedTimeEntries);

            $('#startDateTimePicker').datetimepicker({
                format: 'DD-MM-YYYY HH:mm:ss'
            });
            $('#stopDateTimePicker').datetimepicker({
                format: 'DD-MM-YYYY HH:mm:ss'
            });
 
            $("#startDateTimePicker").on("dp.change",function (e) {
                $('#stopDateTimePicker').data("DateTimePicker").minDate(e.date);
                var splitStart = $("#startDateTimePicker").find("input").val().split('-');
                var splitStop = $("#stopDateTimePicker").find("input").val().split('-');
                var getStart = moment(splitStart[1]+'-'+splitStart[0]+'-'+splitStart[2]).format('DD-MM-YYYY HH:mm:ss');
                var getStop = moment(splitStop[1]+'-'+splitStop[0]+'-'+splitStop[2]).format('DD-MM-YYYY HH:mm:ss');
                if (getStop != ''){
                    if(getStart > getStop){
                        $('#stopDateTimePicker').data("DateTimePicker").date(e.date);
                    }
                }
            });

            $("#stopDateTimePicker").on("dp.change",function (e) {
              //  $('#startDateTimePicker').data("DateTimePicker").maxDate(e.date);
            });

            $('#startDateTimePicker').keydown(function() {
                //code to not allow any changes to be made to input field
                //return false;
            });

            $('#stopDateTimePicker').keydown(function() {
                //code to not allow any changes to be made to input field
                //return false;
            });

            $('#confirm-delete').on('show.bs.modal', function(e) {
                $(this).find('.danger').attr('id', $(e.relatedTarget).data('href'));
            });

            $("#description").keyup(function() {
                 var that = this;
                 var value = $(this).val();
                loadAutocompleteWithTasks(value,that);
            });

     });
</script>
{% endblock %}
