    <table class="records_list table table-striped table-condensed table-hover">
        {% if week == 0 %}
        <i><b>weeks ago <small>({{ start|date('M j') }} - {{ finish|date('M j') }})</small></b></i>
            <thead>
            <tr>
                <th class="text-center col-md-1"><input type="checkbox" id="checkAll" name="checkAll" title="Check all" onclick="selectAllTimeEntries(this);"/></th>
                <th class="col-md-3">{% trans %}Description{% endtrans %}</th>
                <th class="text-center col-md-1">{% trans %}Date{% endtrans %}</th>
                <th class="text-center col-md-1">{% trans %}Start{% endtrans %}</th>
                <th class="text-center col-md-1">{% trans %}Stop{% endtrans %}</th>
                <th class="text-center col-md-1">{% trans %}Total Time{% endtrans %}</th>
                <th class="text-center col-md-1">{% trans %}Tags{% endtrans %}</th>
                <th class="text-center col-md-1">{% trans %}Billable{% endtrans %}</th>
                <th class="text-center col-md-2">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
        {% elseif week == 1 %}
            <thead>
            <tr>
                <th class="text-center col-md-1">
                    <h3 class="pull-right">
                        <i><b>Last</b></i>
                    </h3>
                </th>
                <th class="col-md-3">
                    <h3 class="pull-left">
                        <i><b>week</b></i>
                    </h3>
                </th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1">
                    <br>
                </th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-2"><br></th>
            </tr>
            </thead>
        {% elseif week > 1 and week < 4 %}
            <thead>
            <tr>
                <th class="text-center col-md-1">
                    <h3 class="pull-right">
                        <i><b>{{ week }}</b></i>
                    </h3>
                </th>
                <th class="col-md-3">
                    <h3 class="pull-left">
                        <i><b>weeks ago <small>({{ start|date('M j') }} - {{ finish|date('M j') }})</small></b></i>
                    </h3>
                </th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1">
                    <br>
                </th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-2"><br></th>
            </tr>
            </thead>
        {% else %}
            <thead>
            <tr>
                <th class="text-center col-md-1">
                    <h3 class="pull-right">
                        <i>{% trans %}From{% endtrans %}</i>
                    </h3>
                </th>
                <th class="col-md-3">
                    <h3 class="pull-left">
                        <i><b>{{ start|date('M j') }}</b> {% trans %}to{% endtrans %} <b>{{ finish|date('M j') }}</b></i>
                    </h3>
                </th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1">
                    <br>
                </th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-1"><br></th>
                <th class="text-center col-md-2"><br></th>
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {% if entities|length > 0 %}
        {% set date = null %}
        {% set today = "now"|date("Ymd") %}
        {% set yesterday = "last day"|date("Ymd") %}
        {% set twoDaysAgo = "-2 days"|date("Ymd") %}
        
            {% for entity in entities %}
                {% if date != entity.start|date('Ymd') %}
                    {% set date = entity.start|date('Ymd') %}
                    <tr>
                        <td colspan="12">
                            <span class="box-title">
                                <b><i>
                                {% if today == date %}
                                    Today
                                {% elseif yesterday == date %}
                                    Yesterday
                                {% elseif twoDaysAgo == date %}
                                    2 days ago
                                {% else %}
                                    {{entity.start|date('l, M j, Y') }}
                                {% endif %}
                                </i></b>
                            </span>
                        </td>
                    </tr>
                {% endif %}
                <tr onclick="selectTimeEntry(this);" style="cursor: pointer;">
                    <td class="text-center"><input type="checkbox" id="id_{{ entity.id }}" name="id[{{ entity.id }}]" value="{{ entity.id }}"/></td>
                    <td>
                        {{ entity.description|trans }}
                        {% if entity.project_id > 0 or entity.customer_id > 0%}
                            &nbsp;<small class="label label-info">{{ entity.project_name }} {% if entity.customer_name|length > 0 and entity.project_name|length > 0  %} - {% endif %} {{ entity.customer_name }} </small>
                        {% endif %}
                    </td>
                    <td class="text-center">{% if entity.start %}{{ entity.start|date('d-m-Y') }}{% endif %}</td>
                    <td class="text-center" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% if entity.start %}{{ entity.start|date('Y-m-d H:i:s') }}{% endif %}">
                        {% if entity.start %}{{ entity.start|date('H:i:s') }}{% endif %}
                    </td>
                    <td class="text-center" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% if entity.stop %}{{ entity.stop|date('Y-m-d H:i:s') }}{% endif %}">
                        {% if entity.stop %}{{ entity.stop|date('H:i:s') }}{% endif %}
                    </td>
                    <td class="text-center">{{ entity.totalTime }}</td>
                    <td class="text-center">
                        {% set tags = entity.tags|split(',') %}
                        {% for tag in tags %}
                            <small class="label label-default">{{ tag }}</small>
                        {% endfor %}
                    </td>
                    <td class="text-center">{% if entity.billable %}<i class="fa fa-check-square-o"></i> {% else %}<i class="fa fa-square-o"></i> {% endif %} </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm">
                            {% if entity.project_id > 0 %}
                                {% set pId = entity.project_id %}
                                {% set pName = entity.project_name %}
                            {% else %}
                                {% set pId = 0 %}
                                {% set pName = '' %}
                            {% endif %}

                            {% if entity.customer_id > 0%}
                                {% set cId = entity.customer_id %}
                            {% else %}
                                {% set cId = 0 %}
                            {% endif %}
                            <button class="btn btn-success btn-sm continue_action" onclick="continueTimeEntry({{ entity.id }}, {{ pId }} , '{{ pName }}', {{ cId }})" data-toggle="tooltip" data-placement="top" title="" data-original-title="Continue this time entry">
                                <i class="fa fa-play"></i>
                            </button>
                            {% if entity.billable %}
                                {% set billable = 1 %}
                            {% else %}
                                {% set billable = 0 %}
                            {% endif %}

                            {% if entity.customer_id is defined %}
                                {% set customer_id = entity.customer_id %}
                            {% else %}
                                {% set customer_id = 0 %}
                            {% endif %}

                            {% if entity.project_id is defined  %}
                                {% set project_id = entity.project_id %}
                            {% else %}
                                {% set project_id = 0 %}
                            {% endif %}
                            <button class="btn btn-primary btn-sm edit_action" onclick="editTimeEntry({{ entity.id }},'{{ entity.description|escape('js') }}','{{ entity.start|date('d-m-Y H:i:s') }}','{{ entity.stop|date('d-m-Y H:i:s') }}','{{ entity.tags }}','{{ billable }}','{{ project_id }}','{{ customer_id }}')" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit this time entry...">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <a class="btn btn-danger btn-sm delete_action" data-href="{{ path('timeentry_delete',{'id': entity.id}) }}" data-toggle="modal" data-target="#confirm-delete">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12">
                        <div class="alert alert-info" style="margin-bottom: 0!important;">
                        <i class="fa fa-info"></i>
                        <b>{% trans %}Note:{% endtrans %}</b> {% trans %}You had no activity this week{% endtrans %}.
                        </div>
                    </td>
                </tr>

            {% endif %}
        </tbody>
    </table>
