<div class="modal fade" id="timeEntryModal" tabindex="-1" role="dialog" aria-labelledby="timeEntryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" id="timeEntryForm" name="timeEntryForm" action="{{ path('timeentry_save') }}" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span>
                    </button>
                    <h4 class="modal-title" id="timeEntryModalLabel">
                        <i class="glyphicon glyphicon-time fa-2x"></i>&nbsp;{% trans %}Time Entry{% endtrans %}
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" value=""/>
                     <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">{% trans %}Description{% endtrans %}</label>
                        <div class="col-sm-10">

                            <div class="input-group-btn "   id="tasks_div">
                                <input type="text" class="form-control dropdown-toggle " id="description" name="description" autocomplete="off" data-toggle="dropdown"  placeholder="{% trans %}Activity Description{% endtrans %}">
                                    <ul class="dropdown-menu">
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="start" class="col-sm-2 control-label">{% trans %}Start{% endtrans %}</label>
                        <div class="col-sm-10">
                            <div class="input-group date" id="startDateTimePicker">
                                <input type="text" class="form-control"  id="start" name="start" placeholder="{% trans %}Start Time{% endtrans %}">
                                <span class="input-group-addon" id="startIcon" style="cursor: pointer"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stop" class="col-sm-2 control-label">{% trans %}Stop{% endtrans %}</label>

                        <div class="col-sm-10">
                            <div class="input-group date" id="stopDateTimePicker">
                                <input type="text" class="form-control" id="stop" name="stop" placeholder="{% trans %}Stop Time{% endtrans %}">
                                <span id="stopIcon" class="input-group-addon" style="cursor: pointer"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="projectId" class="col-lg-2 control-label">{% trans %}Project{% endtrans %}</label>

                        <div class="col-lg-10" id="projects_div">
                            <img src="{{ asset('template/img/ajax-loader.gif') }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerId" class="col-lg-2 control-label">{% trans %}Customer{% endtrans %}</label>

                        <div class="col-lg-10" id="customers_div">
                            <img src="{{ asset('template/img/ajax-loader.gif') }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tags" class="col-sm-2 control-label">{% trans %}Tags{% endtrans %}</label>
                        <div class="col-lg-10" id="tags_div">
                            <input type="text" name="tags" id="tags" class="form-control" placeholder="{% trans %}Tags{% endtrans %}" />
                            <span class="help-block" style="font-size: 11px;">{% trans %}Maximum 4 tags{% endtrans %}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billable" class="col-sm-2 control-label">{% trans %}Billable{% endtrans %}</label>
                        <div class="col-sm-10">
                            <div class="checkbox input-group">
                                <input type="checkbox" id="billable" name="billable">&nbsp;{% trans %}Yes{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>{% trans %}Cancel{% endtrans %}
                    </button>
                    <button type="subtmit" class="btn btn-primary" id="btnSubmitTimeEntry">
                        <i class="fa fa-check"></i>{% trans %}Save{% endtrans %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
