<form class="inline" style="display: none" action="{{ path('runningentry') }}" method="POST" id="newTimeEntryForm" name="newTimeEntryForm">
    <div class="row">                                                               
        <input type="hidden" id="id" name="id" value=""/>
        <input type="hidden" id="project_time" name="project" value=""/>
        <input type="hidden" id="customer_time" name="customer" value=""/>
        <input type="hidden" id="start" name="start" value=""/>
        <div class="col-xs-12">  
            <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>
                    </div>
                        <div class="input-group-btn " style="width:40%;" id="descriptiontask_">
                           <input type="text" class="form-control dropdown-toggle input-lg " id="description" name="description" autocomplete="off" data-toggle="dropdown"  onblur="updateRunningEntry('{{ path('runningentry_update') }}');" placeholder="{% trans %}Activity description{% endtrans %}">
                            <ul class="dropdown-menu" >
                            </ul>
                        </div>
                <div class="input-group-btn" id="projects_">
                    <button id="btnIdProject" type="button" class="btn btn-default dropdown-toggle input-lg" data-toggle="dropdown">
                        <div id="projectButton">
                            {% trans %}Project{% endtrans %}
                            <span class="caret"></span>
                        </div>
                    </button>
                    <ul class="dropdown-menu pull-right" >
                    </ul>
                </div>
                 <div class="input-group-btn" id="customers_">
                    <button id="btnIdCustomer" type="button" class="btn btn-default dropdown-toggle input-lg" data-toggle="dropdown">
                        <div id="customerButton"> 
                            {% trans %}Customer{% endtrans %}
                            <span class="caret"></span>
                        </div>
                    </button>  
                    <ul class="dropdown-menu pull-right" >
                    </ul>
                </div>
                <div class="input-group-addon" id="tags_div_">
                        <input type="text" name="tags" id="customer_tags" placeholder="{% trans %}Tags{% endtrans %}">
                    </div>
                    <div class="input-group-addon">
                        <span id="timer">00:00:00</span>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success input-lg" id="startTimeEntry"
                                data-url="{{ path('timeentry_start') }}" data-toggle="tooltip" data-placement="top"
                                title=""  
                                data-original-title="Start timer for new activity">
                            <i class="fa fa-play"></i>
                        </button>
                        <button type="button" class="btn btn-success input-lg" id="stopTimeEntry"
                                data-url="{{ path('timeentry_stop') }}" style="display: none;" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Stop timer for current activity">
                            <i class="fa fa-stop"></i>
                        </button>
                        <button type="button" class="btn btn-danger input-lg" id="discardTimeEntry"
                                data-url="{{ path('timeentry_delete', { 'id': '@id' }) }}" style="display: none;"
                                data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Discard activity time entry">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
            </div>
        </div>
    </div>  
</form>
