<link href="{{ asset('template/css/flags/flag-icon.min.css') }}" rel="stylesheet">
<a href="#" class="logo">
    Cronus 2
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
<!-- Sidebar toggle button-->
<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<div class="navbar-right">
<ul class="nav navbar-nav">
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag"></i>
            </a>
            <ul class="dropdown-menu" style="width: 100px !important;">
                <li class="header">{% trans %}Language{% endtrans %}:</li>
                <li>
                    <ul class="menu">
                        <li {% if app.request.locale == 'en' %}style="background-color: #f4f4f4;cursor: default"{% endif %} >
                    <a href="{{ path('locale', {'_locale':'en'}) }}" style="text-align: center">
                        <h2>
                            <i class="flag-icon flag-icon-gb"></i>
                        </h2>
                        English
                    </a>
                        </li>
                        <li {% if app.request.locale == 'es' %}style="background-color: #f4f4f4;cursor: default"{% endif %}>
                            <a href="#"  style="text-align: center">
                                <h2>
                                    <i class="flag-icon flag-icon-es"></i>
                                </h2>
                                Espa&ntilde;ol
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span>{{ app.user.firstname }} {{ app.user.lastname }}<i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header bg-light-blue">
                    <img src="{{ asset('template/img/avatar5.png') }}" class="img-circle" alt="User Image" />
                    <p>
                    {{ app.user.firstname }} {{ app.user.lastname }}
                        <small>Member since Nov. 2012</small>
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                    <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                    </div>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="{{ path('profile', {'id': app.user.id}) }}"  class="btn btn-default btn-flat">{% trans %}Profile{% endtrans %}</a>
                    </div>
                    <div class="pull-right">
                    <a href="{{ url('fos_user_security_logout') }}" class="btn btn-default btn-flat">{% trans %}Sign out{% endtrans %}</a>
                    </div>
                </li>
            </ul>
        </li>
</ul>
</div>
</nav>