{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('template/css/pnotify.custom.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<body class="skin-blue">
    <header class="header">
       {% include 'grxtemplate/view/header.html.twig' %}
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            {% include "grxtemplate/view/left-panel.html.twig" %}
            <!-- /.sidebar -->
        </aside>
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% block content_title %} {% endblock %}
                    <small>{% block content_subtitle %} {% endblock %}</small>
                </h1>
                <ol class="breadcrumb">
                    {% block breadcrumb %} {% endblock %}
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                {% block content %}
                CONTENIDO DEL MAIN
                {% endblock %}
            </section>
        </aside>
    </div>
</body>
{% endblock %}

{% block javascripts %}   
    <script src="{{ asset('template/js/plugins/morris/morris.min.js') }}"></script>
    <script src="{{ asset('template/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('template/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script src="{{ asset('template/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ asset('template/js/plugins/jqueryKnob/jquery.knob.js') }}"></script>
    <script src="{{ asset('template/js/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('template/js/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('template/js/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ asset('template/js/pnotify.custom.min.js') }}"></script>
    <script src="{{ asset('template/js/AdminLTE/app.js') }}"></script>
    <script src="{{ asset('template/js/notify.js') }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'main' }) }}"></script>
{% endblock %}
 