<li class="{% if app.request.attributes.get('_route') == 'timeentry' %}active{% endif %}">
    <a href="{{ path('timeentry') }}">
        <i class="fa fa-clock-o"></i><span>Time Tracker</span>
    </a>
</li>
{% if is_granted('ROLE_SUPER_ADMIN') %}
<li class="{% if app.request.attributes.get('_route') == 'project' %}active{% endif %}">
     <a href="{{ path('project') }}">
        <i class="fa fa-folder"></i> <span>{% trans %}Projects{% endtrans %}</span>
    </a>
</li>
{%endif%}
{% if is_granted('ROLE_SUPER_ADMIN') %}
<li class="{% if app.request.attributes.get('_route') == 'customer' %}active{% endif %}">
     <a href="{{ path('customer') }}">
        <i class="fa fa-users"></i> <span>{% trans %}Customers{% endtrans %}</span>
    </a>
</li>
{%endif%}
<li class="treeview  ">
   <a href="#">
        <i class="fa fa-bar-chart-o"></i>
        <span>{% trans %}Reports{% endtrans %}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ path('summary') }}"><i class="fa fa-angle-double-right"></i> {% trans %}Summary{% endtrans %}</a></li>
        <li><a href="{{ path('detailed') }}"><i class="fa fa-angle-double-right"></i> {% trans %}Detailed{% endtrans %}</a></li>
    </ul>
</li>
<li class="treeview  ">
   <a href="#">
        <i class="fa fa-bar-chart-o"></i>
        <span>{% trans %}Reports 2{% endtrans %}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ path('customer_rep') }}"><i class="fa fa-angle-double-right"></i> {% trans %}Customer Summary{% endtrans %}</a></li>
        <li><a href="{{ path('detailed') }}"><i class="fa fa-angle-double-right"></i> {% trans %}Resource Summary{% endtrans %}</a></li>
        <li><a href="{{ path('summary') }}"><i class="fa fa-angle-double-right"></i> {% trans %}Weekly{% endtrans %}</a></li>
    </ul>



</li>
