<!DOCTYPE html>
<html lang="{{ app.request.locale }}" {% block html_class %}{% endblock %}>
    <head>
        <meta charset="UTF-8">
        <title>Cronus | {% block title %}Dashboard{% endblock %} </title>
        <link rel="shortcut icon" href="#" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="{{ asset('template/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template/css/bootstrapValidator.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template/css/ionicons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template/css/morris/morris.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template/css/jvectormap/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template/css/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template/css/AdminLTE.css') }}" rel="stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('template/js/plugins/jquery.min.js') }}"></script>
        <script src="{{ asset('template/js/plugins/bootstrap.min.js') }}"></script>
        <script src="{{ asset('template/js/plugins/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('template/js/plugins/bootstrapValidator.min.js') }}"></script>
        {% block main_javascripts %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% block javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
