{% extends 'base.html.twig' %}
{% block html_class %}
 class="lockscreen"
{% endblock %}
{% block title %}{% trans %}Registration{% endtrans %}{% endblock %}
{% block body %}
    <body class="">
        <div class="form-box" id="login-box">
        <div class="header">{% trans %}Register New Membership{% endtrans %}</div>

            {{ form_start(registrationForm,{ 'attr': {'class': 'form-horizontal', "id": "signup_form", "autocomplete": "off"} }) }}
            <div class="body bg-gray">
                <div class="form-group">
                    {{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control','placeholder':'Firstname'} },{'label': 'Your name'}) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control','placeholder':'Lastname'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control','placeholder':'Email Address'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.phone_number, {'attr': {'class': 'form-control','placeholder':'Phone Number'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.password.first, {'type': 'password', 'attr': {'class': 'form-control','placeholder':'Password'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.password.second, {'type': 'password', 'attr': {'class': 'form-control','placeholder':'Confirm Password'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
            <div class="footer text-center">
                <button type="submit" class="btn btn-success btn-block">Register</button>
                 <a  href="{{ url('app_login') }}"  class="text-center">{% trans %}I already have a membership{% endtrans %}</a><br>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </body>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ asset('security/js/security/signup.js') }}"></script>
{% endblock %}


    

